/* common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial',  sans-serif;
}

:root {
    --tobo-blue: #47ADF1;
    --tobo-purple: #9C72E4;
    --tobo-green: #64C0A9;
    --tobo-orange: #F29E33;
    --tobo-fuxia: #9C72E4;
    --tobo-lightgreen: #B0C926;
    --tobo-back: #F6F8F9;
    --tobo-section: #D8DCE0;
}

body {
    background-color: var(--tobo-back);
}

/* header */
#site_header {
    background-color: white;
}

.title {
    display: inline;
    vertical-align: 45%;
}

/* container */
.container {
    background-color: white;
    width: 70%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

/* container nav */
.nav {
    margin-top: 2rem;
    border-radius: 10px 10px 0 0; 

}

.menu {
    margin-top: 2px;

}

/* buttons */
#buttons {
    padding-bottom: 0.5rem;
}

.add {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.task {
    background-color: var(--tobo-blue);
    color: white;
    border: none;
}

.section {
    background-color: white;
    color: var(--tobo-section);
    border-color: var(--tobo-section);
}

/* container menu */
h3 {
    display: inline;
}

.check {
    border: 1px solid var(--tobo-green);
    border-radius: 50%;
    color: var(--tobo-green);
}
.item {
    font-weight: 3000;
}

.description {
    font-size: 0.7rem;
    background-color: #47ADF1;
    padding: 5px;
    border-radius: 8px;
    color: white;
}