/* common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tobo-blue: #47ADF1;
    --tobo-purple: #9C72E4;
    --tobo-green: #64C0A9;
    --tobo-orange: #F29E33;
    --tobo-fuxia: #9C72E4;
    --tobo-lightgreen: #B0C926;
    --tobo-back: #F6F8F9;
}

body {
    background-color: var(--tobo-back);
}

/* header */
#site_header {
    background-color: white;
}

.title {
    font-family: 'Arial',  sans-serif;
    display: inline;
    vertical-align: 45%;
}

#container {
    background-color: red;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}